.answer-container {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(4, 1fr);
  /* column-gap: 1rem; */
  row-gap: 1rem;
}

.answer-cell {
  width: 15.5rem;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2rem;
  border: 3px solid #e19f25;
  border-radius: 15px;
  padding: 0.7rem 1.5rem;
  color: #e19f25;
  background-color: rgb(22, 26, 49);
  transition: all 0.3s ease 0s;
  margin-top: 1em;
  cursor: pointer;
  font-weight: 600;
  box-shadow: 2px 2px 8px 2px #e19f25;
}

.answer-cell:active {
  transform: translateY(-0.25em);
  box-shadow: 1px 2px 10px 6px var(--clr-greenish);
  cursor: pointer;
  background-color: #e19f25;
  color: rgb(22, 26, 49);
}

@media screen and (min-width: 992px) {
  .answer-container {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 5rem;
    /* column-gap: 0rem; */
  }
  .answer-cell {
    width: 24rem;
    height: 10rem;
    font-size: 1.5rem;
    box-shadow: 3px 3px 12px 3px #e19f25;
  }

  .answer-cell:hover {
    transform: translateY(-0.25em);
    box-shadow: 1px 2px 10px 6px var(--clr-greenish);
    cursor: pointer;
    background-color: #e19f25;
    color: rgb(22, 26, 49);
  }
}
