.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 2rem;
  justify-content: space-evenly;
  padding: 15px 20px;
  font-family: "Inter", sans-serif;
}

.nav-title {
  display: none;
}
.nav-name {
  display: none;
}

.nav-message {
  font-size: 0.8rem;
  font-weight: 500;
}

@media screen and (min-width: 992px) {
  .navbar {
    justify-content: space-between;
  }
  .nav-title {
    font-size: 1rem;
    display: block;
  }

  .nav-name {
    font-size: 0.8rem;
    display: block;
  }
}
